/* Stylesheet */

body{ font-family: 'Lato', sans-serif; }

#grid{ margin: auto; width: 604px; height: 604px;}

/* flex-container used to center block elements */
.flex-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	justify-content: center;
	align-items: center;
}

/* Style the grid elements */
.gridBlock{
	flex-shrink: 0; /* Prevents blocks from being resized if display is small */
	width: 200px;
	height: 200px;
	border: 1px solid black;
}